<!doctype html>

<%= render "/layouts/head" %>

<body>

<header>
     <%= render "/layouts/header" %>
</header>

<section id="slider_wrapper">
     <%= render "/layouts/slider" %>
</section>

<div id="main">
     <div class="container">

          <section class="call_to_action">
               <h3>Welcome to Caritas Medical Center</h3>
               <h3>Kidney Diseases and Hypertension Specialists</h3>
               <h4> A new dawn on Nephrology and Hypertension care in the Southern Crescent.</h4>
<h4>We provide Excellent and most uptodate care to Patients with kidney diseases and Hypertension, with Compassion.</h4>
<h4>Caritas means love or Compassion in latin, and this inspires all that we do at Caritas medical center.</h4>
                
          </section>

     </div>

     <footer>
          <%= render "/layouts/footer" %>
     </footer>
     

</div>
 <%= render "/layouts/scripts" %>
</body>
</html>